















.contentContainer{
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    padding: 20px;
}

.contentContainer p{
    font-family: 'Jost', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#entry{
    height: 130px;
    width: 80vw;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
    background: #FFFFFF;
    padding: 20px;
  
}

#entrySubmit{
    background: #1B4557;
    border-radius: 10px;
    color: #EBEBEB;
    width: 25vw;
    height: 80px;
    font-size: 2.8rem;
    font-family: 'Jost', sans-serif;
    padding: 5px;  
    margin: 20px;
}

.buttonSubmit {
    display: flex;
    justify-content: right;
}