{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Ruda:wght@500&family=Signika+Negative:wght@300;400&family=Red+Hat+Display:wght@300;400&display=swap" rel="stylesheet">
</head>

{% block head %}  {% endblock %}

<body>
    <div class="head-wrap">
        <div class="g-wrapper">
            <p class="greeting">Hello, Chloe!</p>
        </div>
        <div class="head-head">
            <h1 class="title">Database testing</h1>
            <hr>
            <div class="create-wrap">
                <div class="wrapper-create-wrap">
                    <img src="/database/static/hamburg.png">
                    <p>Create a new Ruleset</p>
                </div>
                
            </div>
            <hr>
            <p class="tiny">Create a Rule</p>
            <hr>
        </div>
        <div class="wrap">
            <div class="sign-in">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
        
</body>
</html>