{% extends 'base1.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
{% endblock %}
{% block pagename %} <p>HOME</p>{% endblock %}
{% block back %} {% url 'login' %} {% endblock %}
{% block content %}

<div class="galleryContainer">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="{% static 'gallery1.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'gallery2.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'gallery3.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'gallery4.jpg'%}" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'gallery5.jpg'%}" alt=""></div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="link">
        <a class="enterButton" href="{% url 'score' %}">ENTER</a>
    </div>
</div>

<div class="astrodivider">
    <div class="astrodividermask"></div><span><i>&#10038;</i></span>
</div>

<div class="rulesLight" id="ruleLight">
    <h1>RULES</h1>
    <div class="selector">
        <label id="dropLabel" for="dropDown"> Select a rule set: </label>
        <select onchange=changeDrop() name="dropper" id="dropDown">
            <option value="light">Light</option>
            <option value="heavy">Heavy</option>
        </select>
    </div>
    <ul class="gradient-list" style="font-size: 3rem;">
        <li class="list-text">
            A Ready To Run (RTR) or competition RC Crawler with 2.4ghz transmitter and receiver is required.
        </li>
        <li class="list-text"> Vehicle touches (including any repairs or repositions) will be given an automatic 10
            points, unless
            accidental.
        </li>
        <li class="list-text">
            On Course Repairs must be completed on course, and completed within the course time.
        </li>
        <li class="list-text">
            Off Course Repairs can be called when deemed acceptable. These should be complete within 30 minutes. If
            completed on time, a 1 minute penalty is given and the
            driver returns to the previous gate cleared.
        </li>
        <li class="list-text">
            If at any point the Judge has reason to believe the vehicle is out of spec, they may call time to stop.
            If
            the vehicle is determined to have an unfair advantage, a repair must be done to
            correct the problem. If this is impossible, the driver is marked with a DNF.
        </li>
        <li class="list-text">
            10 points are given when 4 wheels do not travel through the gate marker or any part of the vehicle
            touches
            the gate marker.
        </li>
        <li class="list-text">
            10 points are given when any part of the vehicle touches a boundary marker, and the vehicle is moved
            back to
            the previously cleared gate.
        </li>
        <li class="list-text">
            The maximum amount of points per course is 100. If surpassed, the driver is given a DNF and the vehicle
            should be removed from the course.
        </li>
        <li class="list-text">
            DNFs should be given at any time a driver cannot complete a course. A DNS should be given when the
            course
            cannot be started.
        </li>
        <li class="list-text">
            A driver may call for a time pause in order to reposition themselves safely on the course.
        </li>
        <li class="list-text">
            Completing gates in the unintended order will result in a 10 point penalty.
        </li>
        <li class="list-text"><a
                href="https://docs.google.com/document/d/11PhTJvChtI0sOyUqGONaLDCZ6TqLegj2ZuQZZf2_a78/edit#"
                target="_blank">
                For more detailed rules,
                please click here</a>.
        </li>


    </ul>
</div>

<div class="rulesHeavy" id="ruleHeavy">
    <h1>RULES</h1>
    <div class="selector">
        <label for="dropDowns" id="dropLabel"> Select a rule set: </label>
        <select onchange=changeDrops() name="dropper" id="dropDowns">
            <option value="heavy">Heavy</option>
            <option value="light">Light</option>

        </select>
    </div>
    <p>For access to the rules, please visit <a href="https://drive.google.com/file/d/1E9RrArFlg3z6CCUAL3QpIQDAjKT0UE62"
            target="_blank">this</a> link.</p>

</div>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".swiper", {
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        loop: true,

        pagination: {
            el: ".swiper-pagination",
        },

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    function changeDrop() {
        var dropValue = document.getElementById('dropDown').value;
        var drop = document.getElementById('dropDown');
        var lightRules = document.getElementById('ruleLight');
        var heavyRules = document.getElementById('ruleHeavy');
        if (dropValue == "heavy") {
            lightRules.style.display = "none";
            heavyRules.style.display = "block";
            drop.value = "light";


        }

        else if (dropValue == "light") {
            heavyRules.style.display = "none";
            lightRules.style.display = "block";
            drop.value = "heavy";

        }
    }
    function changeDrops() {
        var dropValue = document.getElementById('dropDowns').value;
        var drop = document.getElementById('dropDowns');
        var lightRules = document.getElementById('ruleLight');
        var heavyRules = document.getElementById('ruleHeavy');
        if (dropValue == "heavy") {
            lightRules.style.display = "none";
            heavyRules.style.display = "block";
            drop.value = "light";


        }

        else if (dropValue == "light") {
            heavyRules.style.display = "none";
            lightRules.style.display = "block";
            drop.value = "heavy";

        }
    }
</script>
{% endblock %}