{% extends 'base1.html' %}{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'leaderboard.css' %}" />
{% endblock %}

{% block pagename %} <p>LEADERBOARD</p> {% endblock %}
{% block back %}{% url 'home' %}{% endblock %}

{% block content %}
<div class="tableContainer">
    <table class="table">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Time</th>
        </tr>
        {% for score in score_list %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{score.user__user_name}}</td>
            <td>{{score.total_score}}</td>
            <td>{{score.time_taken}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}