{% extends 'base1.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'score.css' %}" />
{% endblock %}
{% block pagename %} <p>SCORECARD</p>{% endblock %}
{% block back %} {% url 'home' %} {% endblock %}

{% block content %}

<div class="pageContainer">
    <div class="timer">
        <div class="leftTimer">
            <p id="points">0</p>
            <p> POINTS</p>
        </div>
        <div class="rightTimer">
            <div id="time">
                <span class="digit" id="hr">
                    00</span>
                <span class="txt">:</span>
                <span class="digit" id="min">
                    00</span>
                <span class="txt">:</span>
                <span class="digit" id="sec">
                    00</span>
                <span class="txt">:</span>
                <span class="digit" id="count">
                    00</span>
            </div>
            <div id="buttons">
                <button class="btn" id="startTimer">
                    Start</button>
                <button class="btn" id="stopTimer">
                    Stop</button>
                <button class="btn" id="resetTimer">
                    Reset</button>
            </div>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Progress (-2 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, -2)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, -2)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Bonus Progress (-5 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, -5)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, -5)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Reverse (1 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 1)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 1)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Gate (10 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 10)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 10)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Touch (10 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 10)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 10)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Winch (3 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 3)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 3)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">Boundary (10 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 10)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 10)"></button>
        </div>
    </div>

    <div class="scoreChange">
        <p class="changeName">DNF (100 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 100)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 100)"></button>
        </div>
    </div>

    <div class="scoreChange final">
        <p class="changeName">DNS (150 points)</p>
        <div class="scoreRight">
            <button id="add"><img src="{% static 'add.png' %}" alt="" onclick="increasePoint(event, 150)"></button>
            <button id="minus"><img src="{% static 'minus.png' %}" alt="" onclick="decreasePoint(event, 150)"></button>
        </div>
    </div>
    <form class="buttonSubmit" id="form" action="{% url 'submit' %}">
        <input type="submit" id="entrySubmit" value="SUBMIT">
    </form>
    </form>

    <script>

        document.getElementById('points').innerHTML = "0";
        let startBtn = document.getElementById('startTimer');
        let stopBtn = document.getElementById('stopTimer');
        let resetBtn = document.getElementById('resetTimer');
        let addBtn = document.getElementById('add');
        let minusBtn = document.getElementById('minus');
        var nextBtn = document.getElementById('entrySubmit');

        let hour = 00;
        let minute = 00;
        let second = 00;
        let count = 00;

        startBtn.addEventListener('click', function () {
            timer = true;
            stopWatch();
        });

        stopBtn.addEventListener('click', function stop() {
            timer = false;
            let stopPressed = true;
            return stopPressed;
        });

        resetBtn.addEventListener('click', function () {
            timer = false;
            hour = 0;
            minute = 0;
            second = 0;
            count = 0;
            document.getElementById('hr').innerHTML = "00";
            document.getElementById('min').innerHTML = "00";
            document.getElementById('sec').innerHTML = "00";
            document.getElementById('count').innerHTML = "00";
        });

        function stopWatch() {
            if (timer) {
                count++;

                if (count == 100) {
                    second++;
                    count = 0;
                }

                if (second == 60) {
                    minute++;
                    second = 0;
                }

                if (minute == 60) {
                    hour++;
                    minute = 0;
                    second = 0;
                }

                let hrString = hour;
                let minString = minute;
                let secString = second;
                let countString = count;

                if (hour < 10) {
                    hrString = "0" + hrString;
                }

                if (minute < 10) {
                    minString = "0" + minString;
                }

                if (second < 10) {
                    secString = "0" + secString;
                }

                if (count < 10) {
                    countString = "0" + countString;
                }

                document.getElementById('hr').innerHTML = hrString;
                document.getElementById('min').innerHTML = minString;
                document.getElementById('sec').innerHTML = secString;
                document.getElementById('count').innerHTML = countString;
                setTimeout(stopWatch, 10);
            }
        }

        increasePoint = function (eve, change) {
            var point = document.getElementById('points').innerHTML;
            pointNew = Number(point);
            changeNew = Number(change);
            var total = pointNew + change;
            document.getElementById('points').innerHTML = total;
        }

        decreasePoint = function (eve, change) {
            var point = document.getElementById('points').innerHTML;
            pointNew = Number(point);
            changeNew = Number(change);
            var total = pointNew - change;
            document.getElementById('points').innerHTML = total;
        }


        <!-- This bit controls the JSON -->

        sendJSON = function () {
            var hour = document.getElementById('hr').innerHTML.toString();
            var min = document.getElementById('min').innerHTML.toString();
            var sec = document.getElementById('sec').innerHTML.toString();
            var count = document.getElementById('count').innerHTML.toString();
            var finalTime = hour + ' : ' + min + ' : ' + sec + ' : ' + count;
            console.log(finalTime);
            var finalTotal = document.getElementById('points').innerHTML;
            console.log(finalTotal);

            sessionStorage.setItem("time", finalTime);
            sessionStorage.setItem("scorer", finalTotal);
        }




    </script>
    {% endblock %}