{% extends 'base1.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'submit.css' %}" />
{% endblock %}

{% block pagename %} <p>SUBMISSION</p> {% endblock %}
{% block back %}{% url 'score' %} {% endblock %}

{% block content %}

<div class="wrapper">
    <div class="transfer">
        <p id="time" class="time">TEST</p>
        <p id="score" class="score">TEST</p>
    </div>
    <form class="properties" method="post" action="{% url 'home' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="entrySubmit">SUBMIT</button>
    </form>
</div>

<script>

    let timer = sessionStorage.getItem("time");
    document.getElementById("time").innerHTML = "Your final time was " + timer + ".";

    let scored = sessionStorage.getItem("scorer");
    document.getElementById("score").innerHTML = "Your final score was " + scored + " points.";

    let scoreInput = document.getElementById("scoreFinal");
    scoreInput.value = scored;


    let timeInput = document.getElementById("timeFinal");
    timeInput.value = timer;







</script>
{% endblock %}