{% extends "base.html" %}{% load static %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carme&family=Nunito:wght@600&family=Rubik:wght@700&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin-register.css' %}" />
{% endblock %}
{% block title %}Register Account{% endblock %}
{% block content %}

<form class="account-form" action="" method="post">
  {% csrf_token %}
  <h3 style="font-size: 2rem;" class="mb-2">Create an account</h3>

  {% if form.errors %}
  <p>Please correct the following errors:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <label>{{ form.user_name.label }}<span class="text-muted small">
      (Required)</span></label>
  {{ form.user_name }}
  <label>{{ form.email.label}}<span class="text-muted small">
      (Required)</span></label>
  {{ form.email }}
  <label>{{ form.first_name.label}}<span class="text-muted small">
    (Required)</span></label>
  {{ form.first_name }}
  <label>{{ form.surname.label}}<span class="text-muted small">
    (Required)</span></label>
  {{ form.surname }}
  <label>{{ form.password.label}}<span class="text-muted mb-4">
    </span></label>
  <small class="form-text text-muted mb-4 small">
    At least 8 characters and 1 digit
  </small>
  {{ form.password }}
  <label>{{ form.password2.label}}<span class="text-muted small">
      (Required)</span></label>
  {{ form.password2 }}
  <button class="btn bt-4 btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Register</button>
  <p class="text-center">
    <a href="{% url 'login' %}">Already have an account?</a>
  </p>
</form>

{% endblock %}