{% extends 'user_register/base.html' %}
{% load static %} 

{% block head %} <link rel="stylesheet" href="{% static 'form.css' %}"> {% endblock %}


{% block content %}
<div class="wrap">
    <div class="sign-in">
        <h1 class="head">SIGN UP</h1>
        <form class="properties" action="" method="post" autocomplete="off">
            {% csrf_token %} <!-- this helps deal with hackers that will pretend to be insiders -->
            {{ form }}
            <button type="submit" class="btn"><i class="fa-duotone fa-narwhal"></i> Submit</button>
        </form>
    </div>
</div>


{% endblock %}