{% extends 'user_register/base.html' %}
{% load static %} 

{% block head %} 
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
        <h1 class="head">SIGN UP</h1>
        <form class="properties" action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn"><img src="/static/narwhal.png" alt="" class="narwhal">SIGN UP</button>
        </form>
{% endblock %}