{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carme&family=Nunito:wght@600&family=Rubik:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>

{% block header %}
<p class="head">UKRCCA</p>
{% endblock  %}

{% block content %}
{% endblock %}

{% block footer %}
<div class="foot">
    <a href="{% url 'compcre' %}"><img class="img" src="{% static 'createcomp_icon.png' %}" alt="createcomp_icon"></a>
    <a href="{% url 'home' %}"><img class="img" src="{% static 'home_icon.png' %}" alt="home_icon"></a>
    <a href="{% url 'comps' %}"><img class="img" src="{% static 'comps_icon.png' %}" alt="comps_icon"></a>
</div>
{% endblock %}

</body>
</html>