{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carme&family=Nunito:wght@600&family=Rubik:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block head %}
        {% end block %}
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>

{% block header %}
<p class="e">UKRCCA</p>
{% endblock  %}

{% block content %}
{% endblock %}

</body>
</html>