{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'comps.css' %}">
{% endblock %}
{% block title %}
Competitions
{% endblock  %}


{% block content %}
<a href="{% url 'home' %}"><img src="{% static 'back_icon.png' %}" alt="backicon"></a>
<div class="buttonlist">
    <a href="{% url 'leadb' %}"><button class="complist">Competition 1</button></a>
    <a href="{% url 'leadb' %}"><button class="complist">Competition 2</button></a>
    <a href="{% url 'leadb' %}"><button class="complist">Competition 3</button></a>
    <a href="{% url 'leadb' %}"><button class="complist">Competition 4</button></a>
    <a href="{% url 'leadb' %}"><button class="complist">Competition 5</button></a>
</div>
{% endblock %}

