{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'comps.css' %}">
{% endblock %}
{% block title %}
Competitions
{% endblock  %}


{% block content %}
<img src="{% static 'back_icon.png' %}" alt="backicon">
<div class="buttonlist">
    <button class="complist">Competition 1</button>
    <button class="complist">Competition 2</button>
    <button class="complist">Competition 3</button>
    <button class="complist">Competition 4</button>
    <button class="complist">Competition 5</button>
</div>
{% endblock %}

