{% extends 'base.html' %}{% load static %}
{%block head%}
<link rel="stylesheet" href="{% static 'home.css' %}">
{%endblock%}

{%block content%}
<div class="container">
    <div class="mySlides">
        <img class="img3" src="{% static 'car1.jpg' %}">
    </div>
  
    <div class="mySlides">
        <img class="img3" src="{% static 'car2.jpg' %}">
    </div>
  
    <div class="mySlides">
        <img class="img3" src="{% static 'car3.jpg' %}">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
<div class="lbmain">
    <a class="Competitions" href="{% url 'comps' %}"><img class="img1" src="{% static 'white_interlining.png' %}" alt="Competitions">
    <p class="button">Competitions</p></a>
</div>
<div class="buttons">
    <div class="rules">
        <a class="Competitions" href="{% url 'lightrules' %}"><img class="img2" src="{% static 'white_document.png' %}" alt="Competitions">
        <p class="button">Rules and Regulations</p></a>
    </div>
    
    <div class="create">
        <a class="Competitions" href="{% url 'compcre' %}"><img class="img2" src="{% static 'white_create.png' %}" alt="Competitions">
        <p class="button">Create Competition</p></a>
    </div>
</div>


{%endblock%}