{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'leadb.css' %}">
{% endblock %}
{% block title %}
Leaderboard
{% endblock %}

{% block content %}
<div class="heading">
    <a class="backicon" href="{% url 'comps' %}"><img class="img1" src="{% static 'back_icon.png' %}" alt="backicon"></a>
    <p class="title">Competition</p>
</div>
<hr>
<div class="grid">
    <div class="circle1"><p class="win">???</p></div>
    <div class="circle2"><p class="win">???</p></div>
    <div class="circle3"><p class="win">???</p></div>
</div>
<div class="leadsquare">
    <div class="top">
        <p class="subhead">Place</p>
        <p class="subhead">Driver</p>
        <p class="subhead">Points</p>
    </div>
    <div class="table">
        <table>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
            <tr>
                <td class="body">1</td>
                <td class="body">???</td> 
                <td class="body">???</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}