{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'lightrules.css' %}">
{% endblock %}
{% block title %}
Light rules
{% endblock %}

{% block content %}
<p class="title">Light Competition</p>
<div class="bottomtitle">
  <p class="titl">Ruleset</p>
  <a class="back" href="{% url 'home' %}"><img class="img1" src="{% static 'back_icon.png' %}" alt="backicon"></a>
  <a class="info" href="https://docs.google.com/document/d/11PhTJvChtI0sOyUqGONaLDCZ6TqLegj2ZuQZZf2_a78/edit?pli=1"><img class="img2"src="{% static 'interrogation.png' %}" alt="infoicon"></a>
</div>
<hr class="hr1">
<div class="list">
  <ul>
    <li>Requirements: 
      <ul>
        <li>Ready To Run or Competition RC Crawler with 2.4 ghz transmitter and reciver</li>
        <li>Lipo or NIMH battery pack</li>
      </ul>
    </li>
    <hr>
    <li>Points:
      <ul>
        <li>Gate Marker: 10 points</li>
        <li>Boundary Marker: 10 points</li>
        <li>Vehcle Touch (Repair and Reposition): 10 points</li>
        <li>Course Direction: 10 points</li>
        <li>DNF (Did not finish): 100 points</li>
        <li>DNS (Did not starts): 150 points</li>
      </ul>
    </li>
    <hr>
    <li>Clases:
      <ol>
        <li>Scale Trail Class - Tyre size is below 4.19” (106.7mm), No DIG or rear wheel steer allowed</li>
        <li>Performance Scale Class - Tyre size is above 4.19” ( 106.7mm) and up to 4.75” (120.65mm), No DIG or rear wheel steer allowed</li>
        <li>Competiton Truck Class - Tyre size is above 4.75” (120.65mm), Use of DIG or rear wheel steer allowed</li>
      </ol>
    </li>
    <hr>
    <li>Vehicle Reposition Touch - All vehicle touches excluding “Rollovers” are given an automatic 10 points. The judge will stop time when the driver requests a
      vehicle touch or the judge calls a touch penalty. The vehicle is then moved by the
      driver to the previously cleared gate with the rear axle aligned to that gate. If the
      vehicle cannot be aligned to the gate due to course design, the judge will
      reposition the vehicle to the next stable location after the cleared gate. This
      location will be used for all drivers.</li>
    <hr>
    <li>On Course Repairs - These must be completed on course and in the spot of which the driver decided to take the repair.Repairs must be made within the course time, while the course timer
      will continue to run. Once repairs are completed, the timer is stopped and the
      vehicle is repositioned to the previous gate cleared. If repairs cannot be made
      within the course time, the driver is given a DNF minus progress points for that
      course. There are no restrictions on whom or how the repairs are made. </li>
    <hr>
    <li>Off course repairs - A driver can call time to make an off-course repair at events where deemed
      acceptable. Repairs should be completed within 30 minutes, or the driver is given
      a DNF minus progress points. If the repair is made in the allotted time the driver
      must return to the last previous gate cleared. A 1 minute time penalty will be
      subtracted from the time that is left on that course, the timer will continue once
      the vehicle makes forward progress.</li>
    <hr>
    <li>Vehicle out of spec - If the Judge has reason to believe a vehicle is out of spec during a course run, he
      may call time to stop. At that point, no additional inputs may be given by the
      driver to the vehicle via touch or radio control. The Judge must mark the vehicle’s
      location and perform a tech inspection in the specified tech area. If the vehicle has been deemed within spec, the driver
      and vehicle will return to the location marked by the judge and the clock will start
      once again. If the vehicle is now out of spec and the Judge has determined that
      the vehicle has gained an advantage, the driver must take a repair to correct the problem. If the problem cannot
      be corrected to bring the vehicle back within spec, the driver will receive a DNF for
      that course</li>
    <hr>
    <li>Gate Marker (10 pts each) - Each gate will be composed of 2 gate markers. Points are given when 4 wheels do
      not travel between gate markers or any part of the vehicle touches a gate marker.
      A gate marker will remain "live" for the entire duration of the attempt on the
      course. Gate markers that are moved by anything other than the vehicle's actions
      will be replaced immediately before the driver is allowed to continue. Once any
      gate marker has been touched by the vehicle, no more penalties will be given for
      that gate marker. Only when a gate penalty is assessed will that gate marker be
      deemed "dead".</li>
    <hr>
    <li>Boundary Marker (10 pts each) - Points are given when any part of the vehicle touches a boundary marker. Once a
      boundary marker is touched the judge then will stop time, and the vehicle is then
      moved back by the driver to the previously cleared gate with the rear axle aligned
      to that gate. If the vehicle cannot be aligned to the gate due to course design, the
      judge will reposition the vehicle to the next stable location after the cleared gate.
      This location will be used for all drivers. A boundary marker will remain live for the entire duration of the attempt on
      the course, and if they are moved out of position they will be replaced
      immediately before the driver is allowed to continue.</li>
    <hr>
    <li>Maximum Penalty Points - The maximum points per course is 100. At that time, the driver is given a DNF and
      the run is complete and the vehicle should be removed from the course.</li>
    <hr>
    <li>DNF (100 pts) - At any given time a driver cannot complete a course for any reason. (Time expired,
      Point-Out, Vehicle not Repairable, etc) Progress points are awarded for each gate
      completed.</li>
    <hr>
    <li>DNS (150 pts) - Are given anytime a driver cannot start a course for any reason. Vehicle must start
      the course under its own power.</li>
    <hr>
    <li>Timer Pause - A driver may call for time to stop so that he or she may safely reposition
      themselves on the course. This time shall be used for the purpose of driver safety
      and may not be used to survey the course or for any other advantage, the judge
      has the right to restart time at any point. Most typically, the timer will resume
      when the competitor resumes driving or touches his or her car. A
      judge may also call a stop of time to reposition themselves to make a more
      accurate call on a penalty, drivers may also request a stop of time for this same
      reason.</li>
    <hr>
    <li>Course Direction (10 pts) - Gates must be cleared in their intended direction and sequence. If the vehicle
      progresses an un-cleared gate in the wrong direction, or out of sequence will
      result in a 10-point penalty and the judge will stop time. The vehicle is
      then moved back by the driver to the previously cleared gate with the rear axle
      aligned to that gate. If the vehicle cannot be aligned to the gate due to course
      design, the judge will reposition the vehicle to the next stable location after the
      cleared gate. This location will be used for all drivers. Once progress is awarded
      for a specific gate, it can be passed through in any sequence or direction.</li>
  </ul>
</div>
{% endblock %}