{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Dosis&family=Jost&family=Noto+Serif+Kannada&family=Outfit&family=Roboto+Slab&display=swap"
  rel="stylesheet"
/>

<div class="headerContainer">
  <img class="back" src="{% static 'back.png' %}" alt="" />
  <h1 class="pageType">PAGE NAME</h1>
</div>

{% block content %} {% endblock %}

<div class="footerContainer">
  <div class="iconBox">
    <img src="{% static 'score.png' %}" alt="" />
  </div>
  <div class="iconBox">
    <img src="{% static 'home.png' %}" alt="" />
  </div>
  <div class="iconBox">
    <img src="{% static 'lboard.png' %}" alt="" />
  </div>
</div>
