{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Jost&family=Outfit&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'base.css' %}" />
{% block head %}
{% endblock %}

<div class="headerContainer">
  <a href={% block back %}{% endblock %}><img src="{% static 'back.png' %}" alt="" /></a>
  {% block pagename %}{% endblock %}
</div>


{% block content %}{% endblock %}

<div class="footerContainer">
  <div class="iconBox">
    <a href="{% url 'score' %}"><img class="score" src="{% static 'star.png' %}" alt="" /></a>
  </div>
  <div class="iconBox">
    <a href="{% url 'home' %}"><img src="{% static 'home.png' %}" alt="" /></a>
  </div>
  <div class="iconBox">
    <a href="{% url 'lboard' %}"><img src="{% static 'lboard.png' %}" alt="" /></a>
  </div>
</div>