{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}

{% block pagename %} <p>SIGN IN</p> {% endblock %}
{% block back %}"javascript:close_window();"{% endblock %}
{% block content %}
<div class="contentContainer">
    <p>Please enter your competition ID:</p>
    <form class="form" action="{% url 'home' %}">
        <input type="text" id="entry" placeholder="ID ENTRY HERE...">
        <button type="submit" id="entrySubmit" value="SUBMIT">SUBMIT</button>
    </form>
</div>

<script>
    function close_window() {
        if (confirm("Close Window?")) {
            close();
        }
    }
</script>
{% endblock %}