{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}

{% block pagename %} <p>SIGN IN</p> {% endblock %}
{% block back %} javascript:window.close(); {% endblock %}
{% block content %}
<div class="contentContainer">
    <p>Please enter your competition ID:</p>
    <form class="form" onsubmit="pageSwitch()">
        <input type="text" id="entry" placeholder="ID ENTRY HERE...">
        <input type="submit" id="entrySubmit" value="SUBMIT">
    </form>
</div>


<script>
    function pageSwitch(event) {
        event.preventDefault();
        window.location.replace("{% url 'home' %}");
    }

</script>
{% endblock %}