{% extends 'base.html' %}{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'submit.css' %}" />
{% endblock %}

{% block pagename %} <p>SUBMISSION</p> {% endblock %}
{% block back %}{% url 'score' %} {% endblock %}

{% block content %}
<div class="contentContainer">
    <form class="form" id="form">
        <div class="box">
            <p>First Name:</p>
            <input type="text" id="entry1" placeholder="Enter here...">
        </div>
        <div class="box">
            <p>Surname:</p>
            <input type="text" id="entry2" placeholder="Enter here...">
        </div>
        <div class="box">
            <p>Team Name:</p>
            <input type="text" id="entry3" placeholder="Enter here...">
        </div>
        <div class="box">
            <p>Confirm Team Name:</p>
            <input type="text" id="entry4" placeholder="Enter here...">
        </div>

        <div class="buttonSubmit" onclick="check()">
            <input type="submit" id="entrySubmit" value="SUBMIT">
            <p id="p1"></p>
        </div>
    </form>
</div>

<script>
    var form = document.getElementById("form");
    function submitForm(event) {
        event.preventDefault();
    }

    function check() {
        var fName = document.getElementById('entry1').value;
        var sName = document.getElementById('entry2').value;
        var tName = document.getElementById('entry3').value;
        var ctName = document.getElementById('entry4').value;
        try {
            if (tName !== ctName) throw "Team names do not match";
            if (fName.trim() == "") throw "Please fill in your first name.";
            if (sName.trim() == "") throw "Please fill in your second name.";
            if (tName.trim() == "") throw "Please fill in your team name.";
            if (ctName.trim() == "") throw "Please confirm your team name.";
        }
        catch (err) {
            document.getElementById('p1').innerHTML = err;

        }
        finally {
            return fName;
            return sName;
            return tName;
            removeEventListener('submit', submitForm);
            return redirect('/home')
        }
    }





</script>
{% endblock %}