{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block content %}
<table id="comp">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Rounds</th>
            <th>Gates per round</th>
            <th>Ruleset</th>
            <th>Reference Code</th>
            <th>Add New</th>
        </tr>
    </thead>
    <tbody>
        {% for comp in comp_list %}
        <tr>
            <td>{{comp.id}}</td>
            <td>{{comp.name}}</td>
            <td>{{comp.location}}</td>
            <td>{{comp.no_of_rounds}}</td>
            <td>{{comp.gates_per_round}}</td>
            <td>{{comp.ruleset}}</td>
            <td>{{comp.ref_code}}</td>
        </tr>
        {% endfor %}
    </tbody>


</table>
{% endblock %}