{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'success.css' %}">
{% endblock %}

{% block content %}
<p class="success">You have successfully created competition '{{ comp.name }}'.</p>
<div class="copyHolder">
  <div class="copyText">
    <p>Reference Code</p>
  </div>
  <button onclick=copy() class="clip"><img src="{% static 'copy.png' %}" alt=""></button>
  <input class="referenceInput" id="inputs" value="{{comp.ref_code}}">
</div>
<script>
  function copy() {
    var text = document.getElementById("inputs");
    text.select();
    navigator.clipboard.writeText(text.value);
  }
</script>
{% endblock %}

<!-- can someone fix this pls -->
<!-- reference: https://codepen.io/LattyS/pen/QvGyKL -->