{% extends 'base1.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'success.css' %}">
{% endblock %}

{% block content %}

<div class="copyHolder">
  <p class="success" style="color: #000000;">You have successfully created competition '{{ comp.name }}'.</p>
  <div class="copyTool">
    <div class="copyText">
      <p>Reference Code</p>
    </div>
    <button onclick=copy() onmouseout=outFunc() class="clip"><img src="{% static 'copy.png' %}" alt="">
      <span class="toolTip" id="tip">Copy to clipboard</span>
    </button>
    <input class="referenceInput" id="inputs" value="{{comp.ref_code}}">
  </div>
  <form action="/account/comp/list" class="buttonHold">
    <button class="listFind">View List</button>

  </form>

</div>

<script>
  function copy() {
    var text = document.getElementById("inputs");
    text.select();
    navigator.clipboard.writeText(text.value);
    var tooltip = document.getElementById("tip");
    tooltip.innerHTML = "Copied: " + text.value;
  }

  function outFunc() {
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copy to clipboard";
  }
</script>
{% endblock %}

<!-- can someone fix this pls -->
<!-- reference: https://codepen.io/LattyS/pen/QvGyKL -->