body {
    background: #0e5d6b;
}

.head-wrap {
    display: none !important;
}

.headerContainer {
    display: none !important;
}

.account-form {
    padding: 20px;
}

.mb-2 {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    display: block;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 10vh;

    color: #D5E4D9;
}

label {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    padding: 0;

    color: #D5E4D9;
}

.text-muted {
    font-size: 15px;
    color: rgb(213 228 217) !important;
}

.bt-4 {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;

    color: #D5E4D9;
    background-color: rgba(84, 134, 135, 0.5);
    border-color: rgba(84, 134, 135, 0.5);
}

a {
    color: #D5E4D9;

}