body {
    background: #6ab5c2;
}

.head-wrap {
    display: none !important;
}

.form-label {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    color: #D5E4D9;
}

.mb-4 {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 83px;
    display: block;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 10vh;

    color: #D5E4D9;
}

.bt-4 {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;

    color: #D5E4D9;
    background-color: rgba(84, 134, 135, 0.5);
    border-color: rgba(84, 134, 135, 0.5);
}

a {
    color: #D5E4D9;

}