body {
    margin: 0;
    background-color: #34585e;
    width: 100%;
    height: 100%;
}

.head-wrap {
    height: 100%;
    width: 100%;
}
    
  /* header admin styling */
    .head-head {
      background-color: #1B4557;
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: space-between;
      padding: 10px;
    }
  
    .top {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  
    .logo-title, .greeting {
      color: white;
    }
  
    .dropdown-item {
      display: flex;
      gap: 1rem;
    }
  
    .navImg {
      height: 30px!important;
    }
  
    p.greeting {
      color: white;
      margin-top: 1rem;
      font-size: 22px;
    }
  

.g-wrapper {
    margin-top: 1.7rem;
    width: 100%;
    text-align: right;
    margin-right: 2rem;
}

.wrapper-create-wrap {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 100%;
    height: 21px;
    margin-left: 0.5rem;
}

p {
    margin: 0;
    margin-left: 0.5rem;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100vw;
    background-color: #34585e;
    margin-bottom: 2rem;
}

.wrap {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

a.button {
    display: flex;
    gap: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    justify-content: flex-end;
}

a.button:hover {
    text-decoration: underline;
    transition: 0.5s;
}

img.navImg {
    height: 5px;
}