h1.head {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 83px;
    display: block;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 10vh;
    color: #D5E4D9;
}

.properties {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    line-height: 2rem;
}


.properties input {
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgb(254, 254, 254);
    height: 35px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 17px rgba(93, 93, 93, 0.25);

}

label {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #D5E4D9;
}

.properties button.btn {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80vw;
    gap: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    background-color: #6814a8;
    color: white;
    box-shadow: 0px 6px 7px 1px rgba(0, 0, 0, 0.25);
}

button.btn:hover {
    background-color: #ad46fc;
    transition: 0.19s;
}

.narwhal {
    height: 25px;
    width: auto;
}

/* ::-webkit-input-placeholder { 
    padding: 10px;
  } */