.head {
    position: sticky;
    left: 0;
    top: 0;
    flex-direction: column;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 4vh;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #D5E4D9;
}

.foot{
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #D5E4D9;
    width: 100vw;
    height: 13vh;
}