html{
    background-color: #548687;
}
p{
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 2.5vh;
    margin: 0;
    padding-top: 1vh;
    color: #ffffff;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.container {
    position: relative;
}
.mySlides{
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 0vh;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.img3{
    margin: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 43vh;
    height: 25vh;
    border-radius: 30px;
}
.column {
    float: left;
    width: 16.66%;
}
.lbmain{
    display: flex;
    margin: 1vh;
    margin-top: 3vh;
    margin-bottom: 4vh;
    width: 43vh;
    height: 20vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #505757;
    border-radius: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
.rules{
    display: flex;
    margin-right: 1vh;
    width: 20vh;
    height: 23vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #202030;
}
.create{
    display: flex;
    margin-left: 2vh;
    width: 20vh;
    height: 23vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #202030;
}
.img1{
    width: 10vh;
    height: 10vh;
    margin-left: 120px;
    margin-right: 120px;
}
.img2{
    width: 8vh;
    height: 8vh;
    margin-left: 120px;
    margin-right: 120px;
}