html{
    background-color: #215A71;
}
.heading{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-rows: 30vh 70vh;
}
.title{
    position: relative;
    

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 38px;

    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
    text-align: center;

    color: #E1E1E1;
}