/* Rectangle 60 */


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(12, 71, 103, 0.7);
border: 2px solid rgba(69, 69, 69, 0.5);
border-radius: 10px;


/* UKRCCA */


position: absolute;
left: 17.95%;
right: 17.95%;
top: 1.42%;
bottom: 91.47%;

font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;

color: #D5E4D9;



/* trophy 2 */


position: absolute;
width: 30px;
height: 30px;
left: 15px;
top: 799px;



/* Competition 4 */


position: absolute;
width: 200px;
height: 100px;
left: 95px;
top: 770px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #D5E4D9;



/* Group 3 */


position: absolute;
width: 390px;
height: 60px;
left: 0px;
top: 785px;



/* Competition 1 */


position: absolute;
width: 222px;
height: 38px;
left: 83px;
top: 94px;

font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #E1E1E1;



/* arrow-small-left 1 */


position: absolute;
width: 50px;
height: 50px;
left: 15px;
top: 88px;

background: url(arrow-small-left.png);


/* Line 39 */


position: absolute;
width: 350px;
height: 0px;
left: 26px;
top: 145px;

border: 1px solid #FFFFFF;


/* Group 4 */


position: absolute;
width: 335.04px;
height: 461px;
left: 25.96px;
top: 312px;
}


/* 2nd place */


.second{position: absolute;
width: 75px;
height: 75px;
left: 56px;
top: 216px;

opacity: 0.75;
}

/* 3rd place */


.third{position: absolute;
width: 75px;
height: 75px;
left: 258px;
top: 216px;

opacity: 0.85;
}

/* 1st place */


.first{position: absolute;
width: 100px;
height: 100px;
left: 144px;
top: 166px;

opacity: 0.95;
}