html {
    background: #183034;
}

h1 {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 83px;
    display: block;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 10vh;

    color: #D5E4D9;
}

.yes {
    margin-top: 422px;
    margin-bottom: 422px;
}

.block {
    position: relative;
    display: flex;
    margin: auto;
    width: 85vw;
    height: 30vh;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;

    background: rgba(84, 134, 135, 0.5);
    border-radius: 30px;
}

.Text {
    font-family: 'Nunito';
    font-style: 'bold';
    font-weight: 700;
    font-size: 65px;
    line-height: 33px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

    color: #D5E4D9;
}

.box {
    font-size: 55px;
    background-color: #E1E1E1;
    width: 75vw;
    height: 6vh;
    border-radius: 3vw;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: right;
    border-radius: 30px;
    margin-right: 3vh;
}

.create {
    width: 35vw;
    height: 6vh;
    background: rgba(84, 134, 135, 0.5);
    border-radius: 30px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}