body {
    background-color: #202030; /* dark grey */
    font-family: 'Rubik', sans-serif;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; /* white */
    margin-top: 100px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #ffffff; /* white */
    margin-top: 20px;
  }
  
  p {
    font-size: 24px;
    text-align: justify;
    color: #ffffff; /* white */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
